/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent !important;
}
input,
textarea,
select,
button {
  outline: none !important;
  box-shadow: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}
a {
  text-decoration: none !important;
  color: #166534 !important;
  &:hover,
  &:focus,
  &:active {
    color: #2cbe64 !important;
  }
}

/* This will affect the entire document */
html {
  scrollbar-width: thin; /* for Firefox */
  scrollbar-color: #166534 #fff; /* for Firefox */
}

/* For Chrome, Safari and Edge */
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #fff; /* Adjust track color */
}

::-webkit-scrollbar-thumb {
  background: #166534; /* Adjust thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #166534; /* Adjust thumb hover color */
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard syntax */
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
